@model LTweb05_bai1.ViewModel.DViewModel

@{
    ViewBag.Title = "DetailPB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailPB</h2>

<p>Mapb: <b>@Model.Department.Id</b></p>
<p>Ten: <b>@Model.Department.Name</b></p>

<table class="table">
    <tr>
        <th>
            Ma Nhan Vien
        </th>
        <th>
            Ten
        </th>
        <th>
            Gioi Tinh
        </th>
        <th>
            Tinh
        </th>
    </tr>

    @foreach (var item in Model.Employee)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
