@model IEnumerable<LTweb05_bai3.Models.SanPham>
@using LTweb05_bai3.Models;
@{
    ViewBag.Title = "TimKiemTheoLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
    KetNoiDuLieu db = new KetNoiDuLieu();
}

<h2 style="text-align: center;">Tim Kiem San Pham Theo Loai</h2>

<div style="text-align: center; margin: 20px;">
    @using (Html.BeginForm("TimKiemTheoLoai", "Home", FormMethod.Post))
    {
        <label>Chon loai san pham:</label>
        <select name="maloai" style="width: 300px; padding: 5px; margin: 0 10px;">
            <option value="">-- Chon loai --</option>
            @foreach (var loai in db.dsLoaiSP)
            {
                if (ViewBag.LoaiDaChon != null && ViewBag.LoaiDaChon == loai.MaLoai)
                {
                    <option value="@loai.MaLoai" selected>@loai.TenLoai</option>
                }
                else
                {
                    <option value="@loai.MaLoai">@loai.TenLoai</option>
                }
            }
        </select>
        <input type="submit" value="Loc" class="btn btn-primary" />
    }
</div>

@if (Model != null)
{
    if (Model.Any())
    {
        <h4 style="text-align: center;">Danh sach san pham tim thay</h4>
        <table class="table" style="margin: 0 auto; width: 90%;">
            <tr style="text-align: center;">
                <th>Ma SP</th>
                <th>Ten SP</th>
                <th>Hinh Anh</th>
                <th>Gia</th>
                <th>Mo Ta</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.MaSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td style="text-align: center;">
                        <img src="~/Content/Images/@item.DuongDan" alt="@item.TenSP" style="width: 80px; height: 50px;" />
                    </td>
                    <td style="text-align: center;">
                        @String.Format("{0:N0}", item.Gia) VND
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p style="text-align: center;">Khong tim thay san pham nao trong loai nay.</p>
    }
}
